name: "Build and populate cache"
on:
  pull_request:
  push:
    branches:
      - main
  workflow_dispatch:
jobs:
  build:
    strategy:
      matrix:
        cachixName:
          - colorman
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
      - name: Install nix
        uses: cachix/install-nix-action@v31
        with:
          github_access_token: ${{ secrets.GITHUB_TOKEN }}
      - name: Setup cachix
        uses: cachix/cachix-action@v16
        with:
          name: ${{ matrix.cachixName }}
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"
      - name: Build nix packages
        run: nix build
